# SBC_pollution_China data analysis

This notebook has been generated on 2019-11-12 08:29 

The objective of this notebook is to YYY

## Proposal 

The proposal is available [here](https://drive.google.com/open?id=1tmSFvdUMXcL3vMKBSNYmf5xe6OEmYNnD)

### Equation to estimate

$$
\begin{aligned} \text { SO2 emission }_{i k t}=& \alpha T C Z_{i} \times \text { Polluted sectors }_{k} \times \text { post } \\ &+\beta T C Z_{i} \times \text { Polluted sectors }_{k} \times \text { post } \times \text { Share SOE }_{k} \\ & +\theta {X}_{i k t}+\nu_{c i}+\lambda_{t i} +\phi_{t c} \end{aligned}
$$

city-industry; time-industry and time-city

## Analysis steps

The analysis steps performed in this notebook are the following

- Lorem ipsum dolor sit amet
- Lorem ipsum dolor sit amet
- Lorem ipsum dolor sit amet

## Data source 

The data source of this dataset is:

- [SBC_pollution_China](HERE)

### Variable name

The variables names and labels are the following:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Variables</th>
      <th>Labels</th>
      <th>Types</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>year</td>
      <td>year</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Period</td>
      <td>Period</td>
      <td>object</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Province_en</td>
      <td>Province_en</td>
      <td>object</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Lower_location</td>
      <td>Lower_location</td>
      <td>object</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Larger_location</td>
      <td>Larger_location</td>
      <td>object</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Coastal</td>
      <td>Coastal</td>
      <td>bool</td>
    </tr>
    <tr>
      <th>6</th>
      <td>cityen</td>
      <td>cityen</td>
      <td>object</td>
    </tr>
    <tr>
      <th>7</th>
      <td>geocode4_corr</td>
      <td>geocode4_corr</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>8</th>
      <td>TCZ_c</td>
      <td>TCZ_c</td>
      <td>object</td>
    </tr>
    <tr>
      <th>9</th>
      <td>industry</td>
      <td>industry</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>10</th>
      <td>ind2</td>
      <td>ind2</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Short</td>
      <td>Short</td>
      <td>object</td>
    </tr>
    <tr>
      <th>12</th>
      <td>output_fcit</td>
      <td>output_fcit</td>
      <td>float64</td>
    </tr>
    <tr>
      <th>13</th>
      <td>capital_fcit</td>
      <td>capital_fcit</td>
      <td>float64</td>
    </tr>
    <tr>
      <th>14</th>
      <td>labour_fcit</td>
      <td>labour_fcit</td>
      <td>float64</td>
    </tr>
    <tr>
      <th>15</th>
      <td>count_SOE</td>
      <td>count_SOE</td>
      <td>float64</td>
    </tr>
    <tr>
      <th>16</th>
      <td>out_share_SOE</td>
      <td>out_share_SOE</td>
      <td>float64</td>
    </tr>
    <tr>
      <th>17</th>
      <td>cap_share_SOE</td>
      <td>cap_share_SOE</td>
      <td>float64</td>
    </tr>
    <tr>
      <th>18</th>
      <td>lab_share_SOE</td>
      <td>lab_share_SOE</td>
      <td>float64</td>
    </tr>
    <tr>
      <th>19</th>
      <td>tso2_cit</td>
      <td>tso2_cit</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>20</th>
      <td>tCOD_cit</td>
      <td>tCOD_cit</td>
      <td>float64</td>
    </tr>
    <tr>
      <th>21</th>
      <td>twaste_water_cit</td>
      <td>twaste_water_cit</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>22</th>
      <td>polluted_di</td>
      <td>polluted_di</td>
      <td>object</td>
    </tr>
    <tr>
      <th>23</th>
      <td>polluted_mi</td>
      <td>polluted_mi</td>
      <td>object</td>
    </tr>
    <tr>
      <th>24</th>
      <td>polluted_thre</td>
      <td>polluted_thre</td>
      <td>object</td>
    </tr>
    <tr>
      <th>25</th>
      <td>FE_c_i</td>
      <td>FE_c_i</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>26</th>
      <td>FE_t_i</td>
      <td>FE_t_i</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>27</th>
      <td>FE_t_c</td>
      <td>FE_t_c</td>
      <td>int64</td>
    </tr>
  </tbody>
</table>

# Analysis

## Load the data

In [ ]:
import pandas as pd
from Fast_connectCloud import connector
from GoogleDrivePy.google_drive import connect_drive
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns; sns.set(color_codes=True)

import numpy as np

In [ ]:
gs = connector.open_connection(online_connection = False,
                              path_credential = '/Users/thomas/Google Drive/Projects/Client_Oauth/Google_auth/')

service = gs.connect_remote('GCP')
service_gd = gs.connect_remote(engine = 'GS')
gdr = connect_drive.connect_drive(service_gd['GoogleDrive'])

In [ ]:

from GoogleDrivePy.google_platform import connect_cloud_platform
project = 'valid-pagoda-132423'
gcp = connect_cloud_platform.connect_console(project = project, 
                                             service_account = service['GoogleCloudP'])    
query = (
          "SELECT * "
            "FROM China.SBC_pollution_China "

        )

df_final = gcp.upload_data_from_bigquery(query = query, location = 'US')
df_final.head()

## Load TCZ_list_china from Google Spreadsheet

Feel free to add description about the dataset or any usefull information.

Profiling will be available soon for this dataset

In [ ]:
### Please go here https://docs.google.com/spreadsheets/d/15bMeS2cMfGfYJkjuY6wOMzcAUWZNRGpO03hZ8rpgv0Q
### To change the range

sheetid = '15bMeS2cMfGfYJkjuY6wOMzcAUWZNRGpO03hZ8rpgv0Q'
sheetname = 'TCZ'

df_TCZ_list_china = gdr.upload_data_from_spreadsheet(sheetID = sheetid,
sheetName = sheetname,
	 to_dataframe = True)
df_TCZ_list_china.head()

## Load SO2_emission_macrodata from Google Big Query

Feel free to add description about the dataset or any usefull information.

In [ ]:

  query = (
          "SELECT * \
           FROM China.SO2_emission_macrodata "

        )

df_SO2_emission_macrodata = gcp.upload_data_from_bigquery(query = query, location = 'US')
df_SO2_emission_macrodata.head()

## Load cityname_and_code from Google Spreadsheet

Feel free to add description about the dataset or any usefull information.

Profiling will be available soon for this dataset

In [ ]:
### Please go here https://docs.google.com/spreadsheets/d/1fIziz-Xt99-Rj6NLm52-i6jScOLXgAY20KJi8k3DruA
### To change the range

sheetid = '1fIziz-Xt99-Rj6NLm52-i6jScOLXgAY20KJi8k3DruA'
sheetname = 'final'

df_cityname_and_code = gdr.upload_data_from_spreadsheet(sheetID = sheetid,
sheetName = sheetname,
	 to_dataframe = True)
df_cityname_and_code.head()

## Load chinese_city_characteristics from Google Spreadsheet

Feel free to add description about the dataset or any usefull information.

Profiling will be available soon for this dataset

In [ ]:
### Please go here https://docs.google.com/spreadsheets/d/15bMeS2cMfGfYJkjuY6wOMzcAUWZNRGpO03hZ8rpgv0Q
### To change the range

sheetid = '1-x9DCX4cun6Ed9iH5MiI4g21fXm7seRHHz7WXGiVKVU'
sheetname = 'chinese_city_characteristics'

df_chinese_city_characteristics = gdr.upload_data_from_spreadsheet(sheetID = sheetid,
sheetName = sheetname,
	 to_dataframe = True)
df_chinese_city_characteristics.head()

## Load pollution_city_cic4_china from Google Spreadsheet

Feel free to add description about the dataset or any usefull information.

Profiling will be available soon for this dataset

We need this table for the table 0 -> Need year 2001

In [ ]:
  query = (
          "SELECT * \
           FROM China.pollution_city_cic4_china "

        )

df_pollution_city_cic4_china = gcp.upload_data_from_bigquery(query = query, location = 'US')
df_pollution_city_cic4_china.head()

## Load yearbook9813 from Google Spreadsheet

Feel free to add description about the dataset or any usefull information.

Profiling will be available soon for this dataset

We need this table for the table 0 -> Need year 2001

In [ ]:
### Please go here https://docs.google.com/spreadsheets/d/15bMeS2cMfGfYJkjuY6wOMzcAUWZNRGpO03hZ8rpgv0Q
### To change the range

sheetid = '1NpfDQ6dz7knjZDPSjRz2QanVf7td3ujSQn7hD7Gxkow'
sheetname = 'yearbook'

yearbook9813 = gdr.upload_data_from_spreadsheet(sheetID = sheetid,
sheetName = sheetname,
	 to_dataframe = True)
yearbook9813.head()

### Temp

In [ ]:
list(df_final)

In [ ]:
df_final['polluted_thre'].unique()

In [ ]:
df_final.loc[lambda x : x['polluted_thre'].isin(['Above'])]['tso2_cit'].mean()

## Analysis 1: Figures paper

Create the figure for the stylised fact part

### Figure 0: SO2 Emission TCZ/No TCZ with growth

In [ ]:
df_SO2_emission_macrodata.dtypes

In [ ]:
df_SO2_emission_macrodata = df_SO2_emission_macrodata.apply(lambda x:
                                                            pd.to_numeric(x, errors= 'ignore' )
                                                           )

In [ ]:
df_cityname_and_code.dtypes

In [ ]:
so2_ = (df_SO2_emission_macrodata
        .assign(extra_coda=lambda x: x['extra_coda'].astype('str'))
        .merge(df_cityname_and_code.drop(columns=['Province_en',
                                                  'Province_cn',
                                                  'cityen_correct',
                                                  'citycn_correct',
                                                  'cityen',
                                                  'citycn',
                                                  # 'extra_coda'
                                                  ]).drop_duplicates()
               ).drop(columns='extra_coda')
        )
so2_.shape

In [ ]:
df_chinese_city_characteristics_ = (df_chinese_city_characteristics
                                    .rename(columns={'geocode4_corr': 'extra_coda'})
                                    .merge(df_cityname_and_code.drop(
                                        columns=['citycn',
                                                 'cityen',
                                                 'citycn_correct',
                                                 'cityen_correct',
                                                 'Province_cn',
                                                 'Province_en']).drop_duplicates(),
                                           on='extra_coda')
                                    .reindex(columns=['year', 'cityen', 'geocode4_corr', 'gdp'])
                                    .assign(year=lambda x: x['year'].astype('int'))
                                    )
df_chinese_city_characteristics_.shape

In [ ]:
#(df_chinese_city_characteristics
# .loc[lambda x:x['cityen']
#      .isin(['Guangan', 'guangan'])]
#)

In [ ]:
temp = (so2_.merge(df_chinese_city_characteristics_,
                   on=['year', 'geocode4_corr'],
                   how='inner', #indicator=True
                  )
        )
temp.shape
#(temp[temp
#      .duplicated(subset=['year', 'geocode4_corr'], keep='first')]
# .drop_duplicates(subset=['geocode4_corr', 'cityen'])
# )

In [ ]:
temp.loc[lambda x : x['cityen'].isin(['hulunbeier', 'bayannaoer', 'wulanchabu'])]

In [ ]:
df_TCZ_list_china_ = (df_TCZ_list_china
                      .rename(columns = {'geocode4_corr' : 'extra_coda'})
                      .merge(df_cityname_and_code.drop(
                                        columns=['citycn',
                                                 'cityen',
                                                 'citycn_correct',
                                                 'cityen_correct',
                                                 'Province_cn',
                                                 'Province_en']).drop_duplicates(),
                            on = 'extra_coda')
                     )
df_TCZ_list_china_.shape

In [ ]:
df_ = (temp
       .merge(df_TCZ_list_china_,
              on = 'geocode4_corr',
              how = 'left', #indicator = True
             )
      )
df_['gdp'] = pd.to_numeric(df_['gdp'])
df_.head()

In [ ]:
df_.dtypes

In [ ]:
so2year = (df_
           .groupby('year')['so2exhau_p']
           .sum()
           #.reset_index()
           .rename("totalso2"
                   #,columns = {'so2exhau_p': 'totalso2'}
                  )
          )
so2year.head()

In [ ]:
fig1 = (df_
        .groupby(['year', 'TCZ'])['so2exhau_p', 'gdp']
        .sum()
        .unstack()
        # .reset_index()
        .merge(so2year, left_index=True, right_index=True)
        .assign(
            no_tcz=lambda x: (x.iloc[:, 4] - x.iloc[:, 1])/1000000,
            TCZ=lambda x: (x.iloc[:, 1])/1000000,
            pct_change_tcz=lambda x: x.iloc[:, 2].pct_change(),
            pct_change_no_tcz=lambda x: x.iloc[:, 3].pct_change(),
            pct_change_tcz_so2=lambda x: x.iloc[:, 1].pct_change(),
            pct_change_no_tcz_so2=lambda x: x.iloc[:, 0].pct_change(),
        )
         .iloc[5:, 5:]
        # .drop(columns = ['0', 'totalso2'])
        # .set_index('year')
        # .style
        # .format('{0:,.0f}')
        )

fig1.columns = ['No TCZ','TCZ','GDP growth TCZ',
                'GDP growth No TCZ', 'SO2 growth TCZ',
                'SO2 growth No TCZ']
fig1

In [ ]:
sns.set_style("white")
fig, ax1 = plt.subplots()
ax1.bar(fig1.index, fig1['TCZ'], 0.35, label = 'TCZ')
ax1.bar(fig1.index + .35, fig1['No TCZ'], 0.35, label = 'No TCZ')
ax1.legend(bbox_to_anchor=(1, 1.05))
#ax2 = ax1.twinx() 
#ax2.plot(fig1.index, fig1['GDP growth TCZ'])
#ax2.plot(fig1.index, fig1['GDP growth No TCZ'])

plt.xlabel('Year')
# Set y-axis label
plt.ylabel('Actual SO2 emission (Millions of tons)')

plt.savefig("images/fig_0.png",
            bbox_inches='tight',
            dpi=600)

In [ ]:
# Lazy to think
TCZ = fig1[['TCZ', 'GDP growth TCZ',
            'SO2 growth TCZ']].assign(g1=1).rename(columns={'TCZ': 'SO2',
                                                            'GDP growth TCZ': 'GDP growth',
                                                            'SO2 growth TCZ': 'SO2 growth'
                                                            })
noTCZ = fig1[['No TCZ', 'GDP growth No TCZ',
              'SO2 growth No TCZ']].assign(g1=0).rename(columns={'No TCZ': 'SO2',
                                                                 'GDP growth No TCZ': 'GDP growth',
                                                                 'SO2 growth No TCZ': 'SO2 growth'})
fig1_ = pd.concat([TCZ, noTCZ], sort=True)
fig1_
sns.scatterplot(x="GDP growth", y="SO2 growth", hue="g1",
                      data=fig1_)

### Figure 1: SO2 emission for a TCZ and Non TCZ city

In [ ]:
tcz = df_final.loc[lambda x:x['TCZ_c'] == 'TCZ']['geocode4_corr'].drop_duplicates().tolist()
notcz = df_final.loc[lambda x:x['TCZ_c'] != 'TCZ']['geocode4_corr'].drop_duplicates().tolist()

In [ ]:
(df_chinese_city_characteristics[['geocode4_corr', 'cityen', 'year', 'gdp','population']]
 .apply(pd.to_numeric, errors ='ignore')
 .set_index(['geocode4_corr', 'year'])
 .assign(gdp_cap = lambda x: x['gdp'].divide(x['population'], fill_value=0))
 .loc[(slice(None), 2005), :]
 .reset_index('year')
 .sort_values(by ='gdp_cap')
 #.loc[lambda x: x['cityen']=='changsha']
 .loc[lambda x: 
     (x['gdp_cap'] > 55000) &
     (x.index.isin(tcz))]
)

In [ ]:
(df_final
 .loc[lambda x:x['geocode4_corr']
      .isin(tcz)]
 .groupby(['cityen','year'])['tso2_cit']
 .sum()
 .loc['Ningbo']
 .plot()
)

Find a city with same characteristics as Ningbo but not TCZ

- GDP per cap: Nongbo: 64885
- GDP per cap: weihai: 58431

In [ ]:
(df_chinese_city_characteristics[['geocode4_corr', 'cityen', 'year', 'gdp','population']]
 .apply(pd.to_numeric, errors ='ignore')
 .set_index(['geocode4_corr', 'year'])
 .assign(gdp_cap = lambda x: x['gdp'].divide(x['population'], fill_value=0))
 .loc[(slice(None), 2005), :]
 .reset_index('year')
 .sort_values(by ='gdp_cap')
 #.loc[lambda x: x['cityen']=='changsha']
 .loc[lambda x: 
     (x['gdp_cap'] > 35000) &
     (x.index.isin(notcz))]
)

In [ ]:
(df_final
 .loc[lambda x:x['geocode4_corr']
      .isin(notcz)]
 .groupby(['cityen','year'])['tso2_cit']
 .sum()
 .loc['Weihai']
 .plot()
)

In [ ]:
f1 = (df_final
 #.loc[lambda x:x['geocode4_corr']
 #     .isin(notcz)]
 .groupby(['cityen','TCZ_c', 'year'])['tso2_cit']
 .sum()
 .reset_index()
 .loc[lambda x:x['cityen'].isin(['Weihai', 'Ningbo'])]
 #.set_index('year', append = True)
 .assign(
 city_type = lambda x: x['cityen'].str.cat(x['TCZ_c'], sep='-'),
 tso2_cit = lambda x: x['tso2_cit']/10000
     
 )     
 #.unstack(0)
 #.plot()
)
f1

In [ ]:
sns.set_style("white")

In [ ]:
sns.lineplot(x="year",
             y="tso2_cit",
             hue = 'city_type',
             data=f1)
plt.xlabel('Year')
# Set y-axis label
plt.ylabel('Actual SO2 emission (10.000 tons)')

plt.savefig("images/fig_1.png",
            bbox_inches='tight',
            dpi=600)

### Figure 2: SOE Output share for a TCZ and Non TCZ

The second sylised fact is about ploting the evolution of SO2 emission in a TCZ city and non-TCZ city over time tacking into account the SOE participation by industry. We should except a decrease after 2006

For instance, we take:

- Kunming: GDP per cap: 35027
- Qinhuangdao: GDP per cap: 39585

In [ ]:
def graph_share_perc(years=['2005', '2007'],
                     cities=['Qinhuangdao', 'Kunming'],
                     var='out_share_SOE'):
    """
    Plot graph relationship betwee SOE industry share and
    variation of SO2 emission
    
    Positive value for pct change means SO2 has decreased
    between 2005 and 2007
    
    """

    test = (df_final
            .loc[lambda x:x['year'].isin(years)]
            .sort_values(by=['cityen', 'industry', 'year'])
            .set_index(['cityen',
                        'industry',
                        'TCZ_c'])
            .groupby(level=[0, 1, 2])
            .agg(pct_change=('tso2_cit', 'pct_change'),
                 )
            .assign( 
            pct_change = lambda x: np.negative(x['pct_change'])
            )
            .dropna()
            ).merge(
        (df_final
         .set_index([
             'industry'])
            .groupby(level=[0])
            .agg(
             out_share_SOE=('out_share_SOE', 'min'),
             cap_share_SOE=('cap_share_SOE', 'min'),
             lab_share_SOE=('lab_share_SOE', 'min')
         )
         ),
        left_index=True, right_index=True
    )
    
    df_test = (test.reset_index(['industry', 'TCZ_c'])
           .loc[lambda x:x.index.isin(cities)]
               .reset_index()
               .assign(
                   city_type = lambda x: 
                   x['cityen'].str.cat(x['TCZ_c'], sep='-'),
     
 )
           )
    
    sns.lmplot(x=var,
               y="pct_change",
               hue="city_type",
           data=df_test.loc[lambda x:x['pct_change'] < 10], ci=None)
    
    #plt.title('Relationship between Financial dependencies and variation of SO2 between 2005 and 2007, in log')
    # Set x-axis label
    plt.xlabel('Industry SOE output share')
    # Set y-axis label
    plt.ylabel('Actual Pollution Reduction (%)')
    #plt.savefig('fig1.svg', format='svg', dpi=1200)
    plt.axhline(y=0, color = 'r', linewidth  = 1)

    #plt.savefig('destination_path.eps', format='eps', dpi=1000)
    #plt.savefig("images/fig_2.png",
    #        bbox_inches='tight',
    #        dpi=600)

In [ ]:
graph_share_perc(years=['2005', '2007'],
                     cities=['Xiamen', 'Tangshan'],
                     var='out_share_SOE')

### Figure 3: city mandate distribution TCZ

In [ ]:
test = df_final[['TCZ_c', 'target_c']].drop_duplicates()

In [ ]:
import seaborn as sns

In [ ]:
test.groupby("TCZ_c").describe().T

In [ ]:
sns.distplot(df_final[lambda x: x['TCZ_c'] == "TCZ"]['target_c'], hist=False)
sns.distplot(df_final[lambda x: x['TCZ_c'] == "No_TCZ"]['target_c'], hist=False)

## Analysis 2: Summary table paper

Pandas to latex with formater

- https://github.com/pandas-dev/pandas/issues/21625

In [ ]:
### Please go here https://docs.google.com/spreadsheets/d/15bMeS2cMfGfYJkjuY6wOMzcAUWZNRGpO03hZ8rpgv0Q
### To change the range

sheetid = '15bMeS2cMfGfYJkjuY6wOMzcAUWZNRGpO03hZ8rpgv0Q'
sheetname = 'All_cities'

df_TCZ_list_china = gdr.upload_data_from_spreadsheet(sheetID = sheetid,
sheetName = sheetname,
	 to_dataframe = True)

### Table 0 

Need to compare with the data from Zhao Ruili

https://docs.google.com/spreadsheets/d/1kSyGnkWOwoGVe1PgsQUGoWYO3DB8p9fgVh_VE6ilBt8/edit?usp=sharing

### Data 周凌- Yearbook

In [ ]:
df_cityname_and_code.head()

In [ ]:
df_TCZ_list_china_ = (df_cityname_and_code
                      .drop(
    columns=['citycn',
             'cityen',
             'citycn_correct',
             'cityen_correct',
             'Province_cn',
             'Province_en'])
                      .merge(
    yearbook9813.rename(columns = {'geocode4_corr' : 'extra_coda'}))
                      .drop(columns = ['extra_coda'])
                     )
df_TCZ_list_china_.head(10)

In [ ]:
yearbook_so2 = (df_TCZ_list_china_
                .merge(df_TCZ_list_china, how = "left")
                .apply(lambda x: pd.to_numeric(x, errors = 'coerce'))
               )#.head(10)

In [ ]:
yearbook_so2['TCZ'] = yearbook_so2['TCZ'].fillna(0)

In [ ]:
yearbook_so2['TCZ'].value_counts()

In [ ]:
(yearbook_so2
 .loc[lambda x: 
      #(~x['tcz'].isin(['OTHER']))
 #    & 
 (x['year'].isin(['2006', '2010']))]
 .drop(columns = ['代码',
                  '简称', 
                  'Province',
                  'City',
                  'geocode4_corr',
                  "[Envirct06:工业二氧化硫去除量][单位:吨]",
                 '[Envirct08:工业烟尘去除量][单位:吨]',
                 '[Envirct09:工业烟尘排放量][单位:吨]'])
 .groupby(["year", 'TCZ'])
 .sum()
 #.set_index(['year', 'TCZ'])
 #.drop(columns = ['代码', '简称', 'Province', 'City'])
 .unstack(1)
 #.droplevel(0, axis=1)
 .assign(
     pct_notcz_dioxyde = lambda x: x.iloc[:,0].pct_change(),
     pct_tcz_dioxyde = lambda x: x.iloc[:,1].pct_change()
        )
 .style
 .format('{0:,.0f}', subset = ['NO_TCZ', 'TCZ'])
 .format('{0:,.0%}', subset = ['pct_notcz_dioxyde', 'pct_tcz_dioxyde'])
)

In [ ]:
(yearbook_so2
 .loc[lambda x: 
      #(~x['tcz'].isin(['OTHER']))
 #    & 
 (x['year'].isin(['2006', '2010']))]
 .drop(columns = ['代码',
                  '简称', 
                  'Province',
                  'City',
                  'geocode4_corr',
                  "[Envirct06:工业二氧化硫去除量][单位:吨]",
                 '[Envirct08:工业烟尘去除量][单位:吨]',
                 '[Envirct09:工业烟尘排放量][单位:吨]',
                 'TCZ'])
 .groupby(["year"])
 .sum()
 #.set_index(['year', 'TCZ'])
 #.drop(columns = ['代码', '简称', 'Province', 'City'])
 #.unstack(1)
 #.droplevel(0, axis=1)
 .assign(
     pct_dioxyde = lambda x: x.iloc[:,0].pct_change(),
 #    pct_tcz_dioxyde = lambda x: x.iloc[:,1].pct_change()
        )
 .style
 #.format('{0:,.0f}', subset = ['NO_TCZ', 'TCZ'])
 .format('{0:,.0%}', subset = ['pct_dioxyde'])
)

### Data ZhaoRuili

In [ ]:
sheetid = '1kSyGnkWOwoGVe1PgsQUGoWYO3DB8p9fgVh_VE6ilBt8'
sheetname = 'SO2_emission'

df_TCZ_SO2_Zhaoruili= gdr.upload_data_from_spreadsheet(sheetID = sheetid,
sheetName = sheetname,
	 to_dataframe = True).apply(lambda x: pd.to_numeric(x, errors ='ignore'))

In [ ]:
df_TCZ_SO2_Zhaoruili.head()

In [ ]:
(df_TCZ_SO2_Zhaoruili
 .loc[lambda x: ~x['tcz'].isin(['OTHER'])]
 .set_index(['year', 'tcz'])
 .unstack(1)
 .droplevel(0, axis=1)
 .plot()
)

In [ ]:
(df_TCZ_SO2_Zhaoruili
 .loc[lambda x: (~x['tcz'].isin(['OTHER']))
     & (x['year'].isin(['1998', '2000', '2001', '2005']))]
 .set_index(['year', 'tcz'])
 .unstack(1)
 .droplevel(0, axis=1)
 .assign(
     full = lambda x:x.iloc[:,0]+x.iloc[:, 1],
     pct_notcz = lambda x: x.iloc[:,0].pct_change(),
     pct_tcz = lambda x: x.iloc[:,1].pct_change(),
     pct_full = lambda x: x.iloc[:,2].pct_change()
        )
 .style
 .format('{0:,.0f}', subset = ['NO_TCZ', 'TCZ', 'full'])
 .format('{0:,.0%}', subset = ['pct_notcz', 'pct_tcz', 'pct_full'])
)

### Data Thomas

In [ ]:
df_TCZ_list_china_ = (df_cityname_and_code
                      .drop(
    columns=['citycn',
             'cityen',
             'citycn_correct',
             'cityen_correct',
             'Province_cn',
             'Province_en'])
                      .merge(
    df_TCZ_list_china.rename(columns = {'geocode4_corr' : 'extra_coda'}))
                      .drop(columns = ['extra_coda'])
                     )

In [ ]:
df_pollution_city_cic4_china.groupby('year')['tso2'].sum().plot()

In [ ]:
(df_pollution_city_cic4_china
 .assign(geocode4_corr = lambda x :x['citycode'].astype('str').str.rstrip('.0'))
 .merge(df_TCZ_list_china_)
 #.loc[lambda x : x['year'].isin(['2001', '2005'])]
 .groupby(['TCZ', 'year'])['tso2']
 .sum()
 .unstack(0)
 .plot()
)

In [ ]:
(df_pollution_city_cic4_china
 .assign(geocode4_corr = lambda x :x['citycode'].astype('str').str.rstrip('.0'))
 .merge(df_TCZ_list_china_)
 .loc[lambda x : x['year'].isin(['2001', '2005'])]
 .groupby(['TCZ', 'year'])['tso2']
 .sum()
 .groupby(level = 0)
 .pct_change() * 100
)

In [ ]:
(df_pollution_city_cic4_china
 .loc[lambda x : x['year'].isin(['2001', '2005'])]
 .groupby([ 'year'])['tso2']
 .sum()
 .pct_change() * 100
)

In [ ]:
(df_pollution_city_cic4_china
 .assign(geocode4_corr = lambda x :x['citycode'].astype('str').str.rstrip('.0'))
 .merge(df_TCZ_list_china_) 
 .loc[lambda x : x['year'].isin(['1998', '2000'])]
 .groupby(['TCZ', 'year'])['tso2']
 .sum()
 .groupby(level = 0)
 .pct_change() * 100
)

In [ ]:
(df_pollution_city_cic4_china
 .loc[lambda x : x['year'].isin(['1998', '2000'])]
 .groupby([ 'year'])['tso2']
 .sum()
 .pct_change() * 100
)

### Table 1 in paper

In [ ]:
tab_ = (df_final
        .assign(
            geocode4_corr=lambda x: x['geocode4_corr'].astype('str')
        ).merge(df_TCZ_list_china)
        )

In [ ]:
sumStat = (
tab_
    .groupby(['TCZ_c'])
    .agg(
        {
            'tso2_cit':['mean', 'std'],
            'count_SOE':['mean', 'std'],
            'out_share_SOE':['mean', 'std'],
            'cap_share_SOE':['mean', 'std'],
            'lab_share_SOE':['mean', 'std'],
            'output_fcit':['mean', 'std'],
            'capital_fcit':['mean', 'std'],
            'labour_fcit':['mean', 'std'],            
        }
    )
    .T
    .unstack(1)
    .rename(index={
        'tso2_cit': 'SO2_{cit}',
        'count_SOE': '\text{count share SOE}_{i}',
        'out_share_SOE': '\text{output share SOE}_{i}',
        'cap_share_SOE': '\text{capital share SOE}_{i}',
        'lab_share_SOE': '\text{labour share SOE}_{i}',
        'output_fcit': '\text{output}_{cit}',
        'capital_fcit': '\text{capital}_{cit}',
        'labour_fcit': '\text{labour}_{cit}',
    
    },columns = {
            'No_TCZ':'No TCZ',
        })
    #.style
    #.format('{0:,.3f}')
    .to_latex(index=True,
              float_format='%.3f'
             )
)
sumStat = sumStat.replace('\_\{i\}','_i')
sumStat = sumStat.replace('\{','{')
sumStat = sumStat.replace('\}','}')
sumStat = sumStat.replace('\\textbackslash','')
sumStat = sumStat.replace('text','\\text')
sumStat = sumStat.replace('\_{cit}','_{cit}')
#sumStat = sumStat.replace('No\_TCZ','No TCZ')
sumStat = sumStat.replace('TCZ\_c','')

print(sumStat)

### Table 1 in paper

Need to combine with table above

In [ ]:
tcz = (
    tab_
    .groupby(['TCZ_c'])
    .agg(
        TCZ_count=('cityen', 'nunique'),
    )
    .T
)
tcz

In [ ]:
spz = (
    tab_
    .groupby(['TCZ_c', 'SPZ'])
    .agg(
        SPZ_count=('cityen', 'nunique'),
    )
    #.xs('1', level='SPZ')
    #.T
)
spz

In [ ]:
coastal = (
    tab_
    .groupby(['TCZ_c', 'Coastal'])
    .agg(
        coastal_count=('cityen', 'nunique'),
    )
    .iloc[[1, 3], :]
    .T
    .droplevel('Coastal', axis = 1)

)

In [ ]:
city_count = (pd.concat([tcz, spz, coastal], axis=0,sort = False)
              .assign( 
              total = lambda x : x['No_TCZ'] + x['TCZ']
              )
       .rename(index={
           'TCZ_count': 'TCZ',
           'SPZ_count': 'SPZ',
           'coastal_count': 'Coastal',
       },
    columns={
           'No_TCZ': 'No TCZ',
       })
       ).to_latex()
city_count = city_count.replace('TCZ\_c','')
print(city_count)

### Table 2 in paper

SO2 emission by TCZ before and after the 11th FYP, full sample

In [ ]:
t1 = (df_final
      .assign(tso2_cit = lambda x: x['tso2_cit']/10000)
      .groupby(['TCZ_c', 'Period', 'cityen'])
      .agg(
          sum_tso2_c=('tso2_cit', np.sum),
      )
      .groupby(level=[0, 1])
      .agg(
          avg_tso2=('sum_tso2_c', np.mean)
      )
      .sort_values(by=['TCZ_c', 'Period'], ascending=True)
      .unstack(-1)
      .assign(difference=lambda x: np.round(x.iloc[:, 0] - x.iloc[:, 1], 0),
              variance=lambda x: 1-(x.iloc[:, 0] / x.iloc[:, 1])
              )
      .round(2)
      .iloc[:, 2:]
      .stack()
      .unstack(0)
      .rename(index={'':'Full sample'})
      .rename_axis("Location")
      )
t1

SO2 emission by TCZ before and after the 11th FYP, by city location

In [ ]:
t2 = (df_final
      .assign(tso2_cit = lambda x: x['tso2_cit']/10000)
      .groupby(['TCZ_c', 'Period', 'Lower_location', 'cityen'])
      .agg(
          sum_tso2_c=('tso2_cit', np.sum),
      )
      .groupby(level=[0, 1, 2])
      .agg(
          avg_tso2=('sum_tso2_c', np.mean)
      )
      .sort_values(by=['TCZ_c', 'Period'], ascending=True)
      .unstack(-2)
      .assign(difference=lambda x:  np.round(x.iloc[:, 0] - x.iloc[:, 1], 0),
              variance=lambda x: 1-(x.iloc[:, 0] / x.iloc[:, 1])
              )
      .sort_values(by='Lower_location')
      .round(2)
      .iloc[:, 2:]
      .unstack(0)
      .droplevel(level=1, axis=1)
      .rename_axis("Location")
      )
t2

SO2 emission by TCZ before and after the 11th FYP, by coastal area

In [ ]:
t3 = (df_final
      .assign(tso2_cit = lambda x: x['tso2_cit']/10000)
      .groupby(['TCZ_c', 'Period', 'Coastal', 'cityen'])
      .agg(
          sum_tso2_c=('tso2_cit', np.sum),
      )
      .groupby(level=[0, 1, 2])
      .agg(
          avg_tso2=('sum_tso2_c', np.mean)
      )
      .sort_values(by=['TCZ_c', 'Period'], ascending=True)
      .unstack(-2)
      .assign(difference=lambda x: np.round(x.iloc[:, 0] - x.iloc[:, 1], 0),
              variance=lambda x: 1-(x.iloc[:, 0] / x.iloc[:, 1]))
      .sort_values(by='Coastal')
      .round(2)
      .iloc[:, 2:]
      .unstack(0)
      .droplevel(level=1, axis=1)
      .rename_axis("Location")
      .rename(index={True:'Coastal',
                    False: 'Non Coastal'}
             )
      )
t3

In [ ]:
t = (pd.concat([t1, t2, t3])
 .to_latex(index=True,
              float_format='%.2f'
             )
)
t = t.replace('\_',' ')
t = t.replace('.00','')
t = t.replace('TCZ c','TCZ')
print(t)

### Differencial model 1

In [ ]:
df_final['tso2_cit'].std()

In [ ]:
df_final[['out_share_SOE',
         'cap_share_SOE',
         'labour_fcit']].quantile([.1, .2, .3, .4, .5, .6, .7, .8, .9]).reset_index()

## Fill the XX in paper

Panel B gives a more in-depth overview of the SO2 reduction in the major areas of China. Following Wu et al. (2017), we split cities between Coastal, Southwest, Central, Northwest, and Northwest areas. In our sample, the Coastal area of China is composed of 10 provinces and has a total of XX TCZ cities.

In [ ]:
df_final.groupby([
    #'Lower_location',
    'Coastal',
    'TCZ_c'])[['Province_en','cityen']].nunique()

The Southwestern area has five provinces and XX TCZ cities, while the Central area has six provinces and XX TCZ cities.

In [ ]:
df_final.groupby([
    'Lower_location',
    #'Coastal',
    'TCZ_c'])[['Province_en','cityen']].nunique()

The Northern part of China is split into the western area with six provinces and XX cities and the Eastern area with three provinces and 34 cities.

In [ ]:
df_final.groupby([
    'Lower_location',
    #'Coastal',
    #'TCZ_c'
])[['Province_en','cityen']].nunique()

In [ ]:
df_final.groupby([
    'Lower_location',
    #'Coastal',
    'TCZ_c'
])[['Province_en','cityen']].nunique()

We further defined cities according to whether or not they benefit from the title of SPZ or the sea borders them. Our sample included XX SPZ cities, and XX are adjacent to the sea.

In [ ]:
sheetid = '15bMeS2cMfGfYJkjuY6wOMzcAUWZNRGpO03hZ8rpgv0Q'
sheetname = 'All_cities'

df_TCZ_list_china['geocode4_corr'] = df_TCZ_list_china['geocode4_corr'].astype('int64')

In [ ]:
df_final.shape

In [ ]:
df_final.merge(df_TCZ_list_china).groupby([
    #'Lower_location',
    'SPZ'])[['Province_en','cityen']].nunique()

In [ ]:
df_final.merge(df_TCZ_list_china).groupby([
    #'Lower_location',
    'Coastal',
    'SPZ'])[['Province_en','cityen']].nunique()

## Analysis 3: Stylised fact: SO2 emission through time TCZ vs Non TCZ [ARCHIVED]


None of the graphs below back up our story

In [ ]:
(df_final
 #.loc[lambda x : x['polluted_thre'].isin(['Above'])]
 .groupby(['TCZ_c',
           'year',
           #'industry'
           #'cityen',
           #'polluted_thre'
          ])
 .agg(
     sum_tso2_c = ('tso2_cit', np.sum)
 )
 #.groupby(level = [0])
 #.agg(
 #    avg_tso2 = ('sum_tso2_c', np.mean),
 #)
 #.assign(ln_avg_tso2 = lambda x: np.log(x['avg_tso2']))
 #.drop(columns = 'avg_tso2')
 .unstack(0)
 .plot()
)

In [ ]:
(df_final
 .loc[lambda x : x['polluted_thre'].isin(['Above'])]
 .groupby(['TCZ_c',
           'year',
           #'industry'
           'cityen',
           #'polluted_thre'
          ])
 .agg(
     sum_tso2_c = ('tso2_cit', np.sum)
 )
 .groupby(level = [0, 1])
 .agg(
     avg_tso2 = ('sum_tso2_c', np.mean),
 )
 #.assign(ln_avg_tso2 = lambda x: np.log(x['avg_tso2']))
 #.drop(columns = 'avg_tso2')
 .unstack(0)
 .plot()
)

In [ ]:
(df_final
 .loc[lambda x : x['polluted_thre'].isin(['Below'])]
 .groupby(['TCZ_c',
           'year',
           'cityen',
           #'polluted_thre'
          ])
 .agg(
     sum_tso2_c = ('tso2_cit', np.sum)
 )
 .groupby(level = [0, 1])
 .agg(
     avg_tso2 = ('sum_tso2_c', np.mean),
 )
 .assign(ln_avg_tso2 = lambda x: np.log(x['avg_tso2']))
 .drop(columns = 'avg_tso2')
 .unstack(0)
 .plot()
)

In [ ]:
(df_final
 #.loc[lambda x : x['polluted_thre'].isin(['Above'])]
 .loc[lambda x : x['TCZ_c'].isin(['TCZ'])]
 .groupby(['TCZ_c',
           'year',
           #'cityen',
           'polluted_thre'
          ])
 .agg(
     sum_tso2_c = ('tso2_cit', np.sum)
 )
 #.groupby(level = [0, 1])
 #.agg(
 #    avg_tso2 = ('sum_tso2_c', np.mean),
 #)
 #.assign(ln_avg_tso2 = lambda x: np.log(x['avg_tso2']))
 #.drop(columns = 'avg_tso2')
 .unstack(2)
 .plot()
)

In [ ]:
(df_chinese_city_characteristics[['geocode4_corr', 'cityen', 'year', 'gdp','population']]
 .apply(pd.to_numeric, errors ='ignore')
 .set_index(['geocode4_corr', 'year'])
 .assign(gdp_cap = lambda x: x['gdp'].divide(x['population'], fill_value=0))
 .loc[(slice(None), 2005), :]
 .reset_index('year')
 .sort_values(by ='gdp_cap')
 #.loc[lambda x: x['cityen']=='qinhuangdao']
 .loc[lambda x: 
     (x['gdp_cap'] > 35000) &
     (x.index.isin(tcz))]
)