# SBC_pollution_China data analysis

This notebook has been generated on 2019-11-12 08:29 

The objective of this notebook is to YYY

## Proposal 

The proposal is available [here](https://drive.google.com/open?id=1tmSFvdUMXcL3vMKBSNYmf5xe6OEmYNnD)

### Equation to estimate

$$
\begin{aligned} \text { SO2 emission }_{i k t}=& \alpha T C Z_{i} \times \text { Polluted sectors }_{k} \times \text { post } \\ &+\beta T C Z_{i} \times \text { Polluted sectors }_{k} \times \text { post } \times \text { Share SOE }_{k} \\ & +\theta {X}_{i k t}+\nu_{c i}+\lambda_{t i} +\phi_{t c} +\epsilon_{ikt} \end{aligned}
$$

city-industry; time-industry and time-city

## Analysis steps

The analysis steps performed in this notebook are the following

- Lorem ipsum dolor sit amet
- Lorem ipsum dolor sit amet
- Lorem ipsum dolor sit amet

## Data source 

The data source of this dataset is:

- [SBC_pollution_China](HERE)

### Variable name

The variables names and labels are the following:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Variables</th>
      <th>Labels</th>
      <th>Types</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>year</td>
      <td>year</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Period</td>
      <td>Period</td>
      <td>object</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Province_en</td>
      <td>Province_en</td>
      <td>object</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Lower_location</td>
      <td>Lower_location</td>
      <td>object</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Larger_location</td>
      <td>Larger_location</td>
      <td>object</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Coastal</td>
      <td>Coastal</td>
      <td>bool</td>
    </tr>
    <tr>
      <th>6</th>
      <td>cityen</td>
      <td>cityen</td>
      <td>object</td>
    </tr>
    <tr>
      <th>7</th>
      <td>geocode4_corr</td>
      <td>geocode4_corr</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>8</th>
      <td>TCZ_c</td>
      <td>TCZ_c</td>
      <td>object</td>
    </tr>
    <tr>
      <th>9</th>
      <td>industry</td>
      <td>industry</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>10</th>
      <td>ind2</td>
      <td>ind2</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Short</td>
      <td>Short</td>
      <td>object</td>
    </tr>
    <tr>
      <th>12</th>
      <td>output_fcit</td>
      <td>output_fcit</td>
      <td>float64</td>
    </tr>
    <tr>
      <th>13</th>
      <td>capital_fcit</td>
      <td>capital_fcit</td>
      <td>float64</td>
    </tr>
    <tr>
      <th>14</th>
      <td>labour_fcit</td>
      <td>labour_fcit</td>
      <td>float64</td>
    </tr>
    <tr>
      <th>15</th>
      <td>count_SOE</td>
      <td>count_SOE</td>
      <td>float64</td>
    </tr>
    <tr>
      <th>16</th>
      <td>out_share_SOE</td>
      <td>out_share_SOE</td>
      <td>float64</td>
    </tr>
    <tr>
      <th>17</th>
      <td>cap_share_SOE</td>
      <td>cap_share_SOE</td>
      <td>float64</td>
    </tr>
    <tr>
      <th>18</th>
      <td>lab_share_SOE</td>
      <td>lab_share_SOE</td>
      <td>float64</td>
    </tr>
    <tr>
      <th>19</th>
      <td>tso2_cit</td>
      <td>tso2_cit</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>20</th>
      <td>tCOD_cit</td>
      <td>tCOD_cit</td>
      <td>float64</td>
    </tr>
    <tr>
      <th>21</th>
      <td>twaste_water_cit</td>
      <td>twaste_water_cit</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>22</th>
      <td>polluted_di</td>
      <td>polluted_di</td>
      <td>object</td>
    </tr>
    <tr>
      <th>23</th>
      <td>polluted_mi</td>
      <td>polluted_mi</td>
      <td>object</td>
    </tr>
    <tr>
      <th>24</th>
      <td>polluted_thre</td>
      <td>polluted_thre</td>
      <td>object</td>
    </tr>
    <tr>
      <th>25</th>
      <td>FE_c_i</td>
      <td>FE_c_i</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>26</th>
      <td>FE_t_i</td>
      <td>FE_t_i</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>27</th>
      <td>FE_t_c</td>
      <td>FE_t_c</td>
      <td>int64</td>
    </tr>
  </tbody>
</table>

# Analysis

## Load the data

In [1]:
import pandas as pd
from Fast_connectCloud import connector

In [2]:
gs = connector.open_connection(online_connection = False,
                              path_credential = '/Users/thomas/Google Drive/Projects/Data_science/Google_code_n_Oauth/Client_Oauth/Google_auth/')

service = gs.connect_remote('GCP')

Service account storage and Bigquery are now connected.
Service account storage is stored as <google.cloud.storage.client.Client object at 0x12216d710> and accessible with "Storage_account"
Service account Bigquery is stored as <google.cloud.bigquery.client.Client object at 0x11d284a90> and accessible with "bigquery_account"

In [ ]:
%put df_final --to R

from GoogleDrivePy.google_platform import connect_cloud_platform
project = 'valid-pagoda-132423'
gcp = connect_cloud_platform.connect_console(project = project, 
                                             service_account = service['GoogleCloudP'])    
query = (
          "SELECT * "
            "FROM China.SBC_pollution_China "

        )

df_final = gcp.upload_data_from_bigquery(query = query, location = 'US')
df_final.head()

In [ ]:
df_final.shape

## Analysis 1:

In [ ]:
options(warn=-1)
library(tidyverse)
library(lfe)
library(lazyeval)
library('progress')

In [ ]:
%put df_final

path = "SBC_pollution_R.R"
source(path)
path = "SBC_pollutiuon_golatex.R"
source(path)

df_final <- df_final %>% 
    mutate_if(is.character, as.factor) %>%
    mutate_at(vars(starts_with("FE")), as.factor) %>%
    mutate(
         Period = relevel(Period, ref='Before'),
         TCZ_c = relevel(TCZ_c, ref='No_TCZ'),
         effort_c = relevel(effort_c, ref='Below'),
         polluted_di = relevel(polluted_di, ref='Below'),
         polluted_mi = relevel(polluted_mi, ref='Below'),
         polluted_thre = relevel(polluted_thre, ref='Below'),
  )
head(df_final)

# Main Results

In [ ]:
#df_final <- df_final %>% mutate(polluted_thre = as.factor(ifelse(tso2_i > 68070.78, 'Above', 'Below')),
#                        polluted_thre = relevel(polluted_thre, ref='Below'))

In [ ]:
%put df_final
t0 <- final_model(df=df_final,
                   target='TCZ_c',
                   SOE='count_SOE',
                   pol='polluted_thre',
                   control=TRUE,
                   cluster= 'industry',
                   print=FALSE)

In [ ]:
%put df_final
t1 <- final_model(df=df_final,
                   target='TCZ_c',
                   SOE='out_share_SOE',
                   pol='polluted_thre',
                   control=TRUE,
                  cluster= 'industry',
                   print=FALSE)

In [ ]:
t2 <- final_model(df=df_final,
                   target='TCZ_c',
                   SOE='cap_share_SOE',
                   pol='polluted_thre',
                   control=TRUE,
                  cluster= 'industry',
                   print=FALSE)

In [ ]:
t3 <- final_model(df=df_final,
                   target='TCZ_c',
                   SOE='lab_share_SOE',
                   pol='polluted_thre',
                   control=TRUE,
                  cluster= 'industry',
                   print=FALSE)

In [ ]:
fe1 <- list(c("City-year fixed effects", "Yes", "Yes", "Yes",
               "Yes"),
             c("Industry-year fixed effects", "Yes", "Yes", "Yes", "Yes"),
             c("City-industry fixed effects", "Yes", "Yes", "Yes", "Yes")
             )

table_1 <- go_latex(list(
    t0,
    t1,
    t2,
    t3
),
    title='Baseline results',
    addFE=fe1,
    save=TRUE,
    name="table_1.txt"
)

# Robustness check

- Parallel trend
- Add extra control
- Remove some observation?

## Parallel trends

In [ ]:
t1 <- parallel_trend(df_final, "All", print_ = FALSE)

In [ ]:
t2 <- parallel_trend(df_final, "TCZ", print_ = FALSE)

In [ ]:
t3 <- parallel_trend(df_final, "No_TCZ", print_ = FALSE)

In [ ]:
fe1 <- list(c("City-year fixed effects", "Yes", "Yes", "Yes"),
             c("Industry-year fixed effects", "Yes", "No", "No"),
             c("City-industry fixed effects", "Yes", "Yes", "Yes")
             )

table_2 <- go_latex(list(
    t1,
    t2,
    t3
),
    title='Parallel trend',
    addFE=fe1,
    save=TRUE,
    name="table_2.txt"
)

## Additional Robustness

The next round of additional test includes:

- Add control variables
- Split the Dataset

### Add other control variables

The first table controls for coastal and SPZ area

* Coast
* SPZ

The second table controls for the city gdp per cap and pop
* ln (gdp per cap)
* ln (city pop)

The thrid table split the dataset between sector dominated by SOE and the other sectors (using the mean)

Note there is an issue with SOS and Google Drive connector. We need to save the file localy to use it with SOS..

In [1]:
from Fast_connectCloud import connector
from GoogleDrivePy.google_drive import connect_drive
import pandas as pd

In [ ]:
gs = connector.open_connection(online_connection = False, 
	path_credential = '/Users/Thomas/Google Drive/Projects/Data_science/Google_code_n_Oauth/Client_Oauth/Google_auth/')

service_gd = gs.connect_remote(engine = 'GS')

gdr = connect_drive.connect_drive(service_gd['GoogleDrive'])

#### Load TCZ_list_china from Google Spreadsheet

Feel free to add description about the dataset or any usefull information.

Profiling will be available soon for this dataset

In [ ]:
### Please go here https://docs.google.com/spreadsheets/d/15bMeS2cMfGfYJkjuY6wOMzcAUWZNRGpO03hZ8rpgv0Q
### To change the range

sheetid = '15bMeS2cMfGfYJkjuY6wOMzcAUWZNRGpO03hZ8rpgv0Q'
sheetname = 'All_cities'

df_TCZ_list_china = gdr.upload_data_from_spreadsheet(sheetID = sheetid,
sheetName = sheetname,
	 to_dataframe = True).to_csv('df_TCZ_list_china.csv', index = False)

#### Load chinese_city_characteristics from Google Spreadsheet

Feel free to add description about the dataset or any usefull information.

Profiling will be available soon for this dataset

In [ ]:
# Please go here https://docs.google.com/spreadsheets/d/1-x9DCX4cun6Ed9iH5MiI4g21fXm7seRHHz7WXGiVKVU
# To change the range

sheetid = "1-x9DCX4cun6Ed9iH5MiI4g21fXm7seRHHz7WXGiVKVU"
sheetname = "chinese_city_characteristics"

df_chinese_city_characteristics = (gdr.upload_data_from_spreadsheet(
    sheetID=sheetid, sheetName=sheetname, to_dataframe=True
).loc[
    lambda x: x["year"].isin(
        ["2001", "2002", "2003", "2004", "2005", "2006"])
][
    ["cityen", "geocode4_corr", "year", "gdp", "population"]
].rename(columns={'year': 'year_lagged'})
    .apply(pd.to_numeric, errors='ignore')
    .assign(year=lambda x:
            x['year_lagged'] + 1,
            gdp_cap=lambda x: x['gdp'] / x['population']
            )
).to_csv('df_chinese_city_characteristics.csv', index = False)

### Table 1: Add Coastal and SPZ

In [ ]:
df_TCZ_list_china = read_csv('df_TCZ_list_china.csv') %>% 
select(-c(TCZ, Province)) %>% 
left_join(df_final)

In [ ]:
t1 <- add_control_city_1(df_TCZ_list_china, 'count_SOE', 'cityen', FALSE)

In [ ]:
t2 <-add_control_city_1(df_TCZ_list_china, 'out_share_SOE', 'cityen', FALSE)

In [ ]:
t3 <-add_control_city_1(df_TCZ_list_china, 'cap_share_SOE', 'cityen', FALSE)

In [ ]:
t4 <-add_control_city_1(df_TCZ_list_china, 'lab_share_SOE', 'cityen', FALSE)

In [ ]:
fe1 <- list(c("City-year fixed effects", "Yes", "Yes", "Yes", "Yes"),
             c("Industry-year fixed effects", "Yes", "Yes", "Yes", "Yes"),
             c("City-industry fixed effects", "Yes", "Yes", "Yes", "Yes")
             )

table_3 <- go_latex(list(
    t1,
    t2,
    t3,
    t4
),
    title='Additional controls',
    addFE=fe1,
    save=TRUE,
    name="table_3.txt"
)

### Table 2: GDP and population

In [ ]:
df_chinese_city_characteristics = read_csv('df_chinese_city_characteristics.csv') %>% 
select(-cityen) %>%
left_join(df_final, by = c('year', 'geocode4_corr'))

In [ ]:
t1 <- add_control_city_2(df_chinese_city_characteristics, 'count_SOE', 'cityen', FALSE)

In [ ]:
t2 <-add_control_city_2(df_chinese_city_characteristics, 'out_share_SOE', 'cityen', FALSE)

In [ ]:
t3 <-add_control_city_2(df_chinese_city_characteristics, 'cap_share_SOE', 'cityen', FALSE)

In [ ]:
t4 <-add_control_city_2(df_chinese_city_characteristics, 'lab_share_SOE', 'cityen', FALSE)

In [ ]:
fe1 <- list(c("City-year fixed effects", "Yes", "Yes", "Yes", "Yes"),
             c("Industry-year fixed effects", "Yes", "Yes", "Yes", "Yes"),
             c("City-industry fixed effects", "Yes", "Yes", "Yes", "Yes")
             )

table_4 <- go_latex(list(
    t1,
    t2,
    t3,
    t4
),
    title='Additional controls (2)',
    addFE=fe1,
    save=TRUE,
    name="table_4.txt"
)

In [ ]:
import os 
os.remove("df_chinese_city_characteristics.csv")

### Table 3: SOE dominated sectors
 
- Using the mean

dominant industries

In [ ]:
df_final['industry'].nunique()

In [ ]:
df_final.loc[lambda x : x['out_share_SOE'] > 0.1443589]['industry'].nunique()

In [ ]:
df_final.loc[lambda x : x['cap_share_SOE'] > 0.2203902]['industry'].nunique()

In [ ]:
df_final.loc[lambda x : x['lab_share_SOE'] > 0.18886]['industry'].nunique()

In [ ]:
SOE_dominate(df_final, 'lab_share_SOE', TRUE, 'cityen', print_ = FALSE)

In [ ]:
t1<-SOE_dominate(df_final, 'count_SOE', TRUE, 'cityen', print_ = FALSE)

In [ ]:
t2<-SOE_dominate(df_final, 'out_share_SOE', TRUE, 'cityen', print_ = FALSE)

In [ ]:
t3<-SOE_dominate(df_final, 'cap_share_SOE', TRUE, 'cityen', print_ = FALSE)

In [ ]:
t4<-SOE_dominate(df_final, 'lab_share_SOE', TRUE, 'cityen', print_ = FALSE)

In [ ]:
fe1 <- list(c("City-year fixed effects", "Yes", "Yes", "Yes", "Yes"),
             c("Industry-year fixed effects", "Yes", "Yes", "Yes", "Yes"),
             c("City-industry fixed effects", "Yes", "Yes", "Yes", "Yes")
             )

table_5 <- go_latex(list(
    t1,
    t2,
    t3,
    t4
),
    title='SOE dominating sectors',
    addFE=fe1,
    save=TRUE,
    name="table_5.txt"
)

Non dominant industries

In [ ]:
t1 <- SOE_dominate(df_final, 'count_SOE', FALSE, 'cityen', print_ = FALSE)

In [ ]:
t2 <- SOE_dominate(df_final, 'out_share_SOE', FALSE, 'cityen', print_ = FALSE)

In [ ]:
t3<-SOE_dominate(df_final, 'cap_share_SOE', FALSE, 'cityen', print_ = FALSE)

In [ ]:
t4<-SOE_dominate(df_final, 'lab_share_SOE', FALSE, 'cityen', print_ = FALSE)

In [ ]:
fe1 <- list(c("City-year fixed effects", "Yes", "Yes", "Yes", "Yes"),
             c("Industry-year fixed effects", "Yes", "Yes", "Yes", "Yes"),
             c("City-industry fixed effects", "Yes", "Yes", "Yes", "Yes")
             )

table_6 <- go_latex(list(
    t1,
    t2,
    t3,
    t4
),
    title='SOE dominating sectors',
    addFE=fe1,
    save=TRUE,
    name="table_6.txt"
)

# SO2 policy in TCZ

Effect of stringent policy in TCZ and Non TCZ city

In [ ]:
df_final <- df_final %>% mutate(
                        effort_c = relevel(effort_c, ref='Below'))

In [ ]:
t1 <- felm(formula = log(tso2_cit) ~  Period * target_c * polluted_thre
     + output_fcit + capital_fcit + labour_fcit 
             | 
             FE_t_c + FE_t_i + FE_c_i| 0 | 
             cityen, data = df_final %>% filter(TCZ_c == 'TCZ'),exactDOF = TRUE)

In [ ]:
t2 <- felm(formula = log(tso2_cit) ~  Period * target_c * polluted_thre
     + output_fcit + capital_fcit + labour_fcit 
             | 
              FE_t_c + FE_t_i + FE_c_i| 0 | 
             cityen, data = df_final %>% filter(TCZ_c == 'No_TCZ'),exactDOF = TRUE)

In [ ]:
fe1 <- list(c("City-year fixed effects", "Yes", "Yes"),
             c("Industry-year fixed effects", "Yes", "Yes"),
             c("City-industry fixed effects", "Yes", "Yes")
             )

table_7 <- go_latex(list(
    t1,
    t2
),
    title='11th FYP city pollution reduction mandate',
    addFE=fe1,
    save=TRUE,
    name="table_7.txt"
)

# Beautify latex

In [ ]:
%load_ext autoreload
%autoreload 2

In [ ]:
import latex_beautify as lb

for i in range(1, 8):
    lb.beautify(table_number = i)
    rm_ = "table_{}.txt".format(i)
    os.remove(rm_)

# TFP

In [3]:
import latex_beautify as lb
import os

In [4]:
%put df_final --to R

from GoogleDrivePy.google_platform import connect_cloud_platform
project = 'valid-pagoda-132423'
gcp = connect_cloud_platform.connect_console(project = project, 
                                             service_account = service['GoogleCloudP'])    
query = (
          "SELECT * "
            "FROM China.SBC_TFP_china "

        )

df_final = gcp.upload_data_from_bigquery(query = query, location = 'US')
df_final.head()

    cityen  industry  count         id  ...    id_       tfp    tfp_OP    tfp_LP
0  Tianjin      3131      2  104036585  ...  73950  7.074598  6.979764  7.074598
1  Tianjin      3131      2  104126185  ...  73956  6.871739  6.777019  6.871739
2  Tianjin      3131      2  104181643  ...  73967  8.268788  8.168100  8.268788
3  Tianjin      3131      2  104030626  ...  73973  7.092537  6.996189  7.092537
4  Tianjin      3131      2  738483010  ...  73974  8.451939  8.309583  8.451939

[5 rows x 38 columns]

In [6]:
df_final['SOE'].unique()

array(['PRIVATE', 'SOE'], dtype=object)

In [7]:
df_final.shape

(36852, 38)

Brief summary about tfp

In [9]:
for x in ['tfp_OP', 'tfp_LP']:
    print(df_final.groupby(['year'])[x].mean().pct_change() * 100)

year
2002         NaN
2003    1.280188
2004   -0.680426
2005    1.827959
2006    1.329633
2007    1.393066
Name: tfp_OP, dtype: float64
year
2002         NaN
2003    1.277503
2004   -0.699417
2005    1.832192
2006    1.330506
2007    1.381835
Name: tfp_LP, dtype: float64

In [66]:
(df_final.groupby(['year', 'SOE'])['tfp_OP']
     .mean()
     .unstack(-1)
     .pct_change() * 100
     #
    )#.plot()

SOE      PRIVATE       SOE
year
2002.0       NaN       NaN
2003.0  0.817519  2.945755
2004.0 -0.694332 -2.099398
2005.0  1.539045  5.351745
2006.0  1.164496  4.022614
2007.0  1.323645  3.024216

In [11]:
df_final.groupby(['Period', 'polluted_thre', 'TCZ_c'])['tfp_OP'].mean().unstack([1, 2])

polluted_thre     Above               Below
TCZ_c            No_TCZ       TCZ    No_TCZ       TCZ
Period
After          8.568800  8.851728  8.541547  8.471935
Before         8.278304  8.457776  8.118653  8.235905

In [74]:
(df_final
 .groupby(['year', 'SOE', 'polluted_thre',
           'TCZ_c'])['tfp_OP']
 .mean()
 .unstack([1, 2])
 .style.format('{0:,.2f}')
 #.to_latex()
)

In [13]:
options(warn=-1)
library(tidyverse)
library(lfe)
library(lazyeval)
library('progress')

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.0.0     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   1.0.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
Loading required package: Matrix

Attaching package: ‘Matrix’

The following objects are masked from ‘package:tidyr’:

    expand, pack, unpack


Attaching package: ‘lazyeval’

The following objects are masked from ‘package:purrr’:

    is_atomic, is_formula

In [14]:
%put df_final

path = "SBC_pollution_R.R"
source(path)
path = "SBC_pollutiuon_golatex.R"
source(path)

df_TCZ_list_china = read_csv('df_TCZ_list_china.csv') %>% 
select(-c(TCZ, Province))

df_final <- df_final %>% 
    mutate_if(is.character, as.factor) %>%
    mutate_at(vars(starts_with("FE")), as.factor) %>%
    mutate(
         Period = relevel(Period, ref='Before'),
         TCZ_c = relevel(TCZ_c, ref='No_TCZ'),
         effort_c = relevel(effort_c, ref='Below'),
         #polluted_di = relevel(polluted_di, ref='Below'),
         #polluted_mi = relevel(polluted_mi, ref='Below'),
         polluted_thre = relevel(polluted_thre, ref='Below'),
  ) %>% left_join(df_TCZ_list_china)
head(df_final)

Please cite as:

 Hlavac, Marek (2018). stargazer: Well-Formatted Regression and Summary Statistics Tables.
 R package version 5.2.2. https://CRAN.R-project.org/package=stargazer

Parsed with column specification:
cols(
  Province = col_character(),
  City = col_character(),
  geocode4_corr = col_double(),
  TCZ = col_double(),
  SPZ = col_double()
)
Joining, by = "geocode4_corr"

  cityen  industry count id        year bdat geocode4_corr Province_en
1 Tianjin 3131     2     104036585 2007 1976 1201          Tianjin
2 Tianjin 3131     2     104126185 2007 1985 1201          Tianjin
3 Tianjin 3131     2     104181643 2007 1994 1201          Tianjin
4 Tianjin 3131     2     104030626 2007 1978 1201          Tianjin
5 Tianjin 3131     2     738483010 2007 2002 1201          Tianjin
6 Tianjin 3131     2     752228876 2007 2003 1201          Tianjin
  Lower_location Larger_location ⋯ FE_t_i FE_t_c FE_c_i_o FE_t_o id_   tfp
1 Coastal        Eastern         ⋯ 375    429    6802     0      73950 7.074598
2 Coastal        Eastern         ⋯ 375    429    6802     0      73956 6.871739
3 Coastal        Eastern         ⋯ 375    429    6802     0      73967 8.268788
4 Coastal        Eastern         ⋯ 375    429    6802     0      73973 7.092537
5 Coastal        Eastern         ⋯ 375    429    6802     0      73974 8.451939
6 Coastal        Eastern         ⋯ 375    429    6802     0      73975 7.846095
  tfp_OP   tfp_LP   City    SPZ
1 6.979764 7.074598 Tianjin 1
2 6.777019 6.871739 Tianjin 1
3 8.168100 8.268788 Tianjin 1
4 6.996189 7.092537 Tianjin 1
5 8.309583 8.451939 Tianjin 1
6 7.723648 7.846095 Tianjin 1

In [15]:
dim(df_final)

[1] 36852    40

In [31]:
t1 = felm(formula= tfp_OP ~ TCZ_c * polluted_thre * Period
                  |
          FE_c_i + FE_t_i + FE_t_c
          | 0 |
             cityen, data= df_final,
             exactDOF=TRUE)

In [32]:
t2 = felm(formula= tfp_OP ~ 
          TCZ_c * polluted_thre * Period 
                  |
             FE_t_c + FE_t_i + FE_c_i | 0 |
             cityen, data= df_final %>% filter(SOE == "SOE")
             ,
             exactDOF=TRUE)

In [33]:
t3 = felm(formula= tfp_OP ~ 
          TCZ_c * polluted_thre * Period 
                  |
             FE_t_c + FE_t_i + FE_c_i | 0 |
             cityen, data= df_final %>% filter(SOE != "SOE")
             ,
             exactDOF=TRUE)

In [34]:
t4 = felm(formula= tfp_OP ~ 
            SPZ  * polluted_thre * Period
                  |
             FE_t_c + FE_t_i + FE_c_i | 0 |
             cityen, data= df_final %>% filter(SOE == "SOE")
             ,
             exactDOF=TRUE)

In [35]:
t5 = felm(formula= tfp_OP ~ 
            SPZ  * polluted_thre * Period
                  |
             FE_t_c + FE_t_i + FE_c_i | 0 |
             cityen, data= df_final %>% filter(SOE != "SOE")
             ,
             exactDOF=TRUE)

In [36]:
t6 = felm(formula= tfp_OP ~ 
            Coastal * polluted_thre* Period 
                  |
             FE_t_c + FE_t_i + FE_c_i | 0 |
             cityen, data= df_final %>% filter(SOE == "SOE")
             ,
             exactDOF=TRUE)

In [38]:
t7 = felm(formula= tfp_OP ~ 
            Coastal * polluted_thre* Period 
                  |
             FE_t_c + FE_t_i + FE_c_i | 0 |
             cityen, data= df_final %>% filter(SOE != "SOE")
             ,
             exactDOF=TRUE)

In [39]:
t8 = felm(formula= tfp_OP ~ 
            TCZ_c * polluted_thre * Period +
            SPZ  * polluted_thre * Period +
            Coastal * polluted_thre* Period 
                  |
             FE_t_c + FE_t_i + FE_c_i | 0 |
             cityen, data= df_final %>% filter(SOE == "SOE")
             ,
             exactDOF=TRUE)

In [40]:
t9 = felm(formula= tfp_OP ~ 
            TCZ_c * polluted_thre * Period +
            SPZ  * polluted_thre * Period +
            Coastal * polluted_thre* Period 
                  |
             FE_t_c + FE_t_i + FE_c_i | 0 |
             cityen, data= df_final %>% filter(SOE != "SOE")
             ,
             exactDOF=TRUE)

In [29]:
#summary(felm(formula= tfp_OP ~ 
#          TCZ_c * polluted_thre * Period * SOE
        #+ SPZ  * polluted_thre * Period * SOE
        #+ Coastal * polluted_thre* Period * SOE
#                  |
#             FE_c_i_o+ FE_t_c + FE_t_i + FE_t_o	 | 0 |
#             cityen, data= df_final ,
#             exactDOF=TRUE))

In [58]:
fe1 <- list( c("City-year fixed effects", "Yes", "Yes", "Yes", "Yes", 
               "Yes", "Yes","Yes", "Yes"),
             c("Industry-year fixed effects", "Yes", "Yes", "Yes", "Yes", 
               "Yes", "Yes","Yes", "Yes"),
             c("City-industry fixed effects", "Yes", "Yes", "Yes", "Yes", 
               "Yes", "Yes","Yes", "Yes")
             #c("City-industry Ownership fixed effects", "No", "Yes", "Yes"),
             #c("year-Ownership fixed effects", "No", "Yes", "Yes")
             )

table_8 <- go_latex(list(
    #t1,
    t2,
    t3,
    t4,
    t5,
    t6,
    t7,
    t8,
    t9
),
    title='TFP effect: explanation chanel: TFP_{fcit}',
    addFE=fe1,
    save=TRUE,
    name="table_8.txt"
)

In [43]:
%load_ext autoreload
%autoreload 2

In [59]:
lb.beautify(table_number = 8)
#os.remove("table_8.txt")